@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
/* cyrillic */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/russoone/v14/Z9XUDmZRWg6M1LvRYsHOy8mJrrg.woff2') format('woff2');
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/russoone/v14/Z9XUDmZRWg6M1LvRYsHOwcmJrrg.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Russo One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://fonts.gstatic.com/s/russoone/v14/Z9XUDmZRWg6M1LvRYsHOz8mJ.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

$primary: #00fbff;
$secondary: #0770ab;
$dark-blue: #2f7b80;
$light-blue: #09c9e3;
$bg: #eff0f4;
$dark-text: #150638;
$gray-bg: #c4c4c4;
$dark: #22222c;
$yellow: #e39909;
$green: #53a24c;


@media only screen and (min-width: 320px) and (max-width: 430px) {
  
}
@media only screen and (min-width: 431px) and (max-width: 541px) {
  
}
@media only screen and (max-width: 620px) {
  canvas{
    height: 340px !important;
  }
}
@media only screen and (min-width: 542px) and (max-width: 768px) {
  
}
@media only screen and (min-width: 620px) and (max-width: 768px) {
  canvas{
    height: 80vh !important;
    width: calc(100% - 50px);
  }
}
@media only screen and (max-width: 768px) {

}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  canvas{
    height: 80vh !important;
    width: calc(100% - 50px);
  }
}
@media only screen and (min-width: 992px) {
  canvas{
    height: 80vh !important;
    width: calc(100% - 100px);
  }
}
@media only screen and (min-width: 992px) and (max-width: 1024px) {
  
}
@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  
}
@media only screen and (min-width: 1280px) and (max-width: 1536px) {
 
}
@media only screen and (min-width: 1536px) {
  
}
@media only screen and (min-width: 1536px) and (max-width: 1760px) {
  
}
@media only screen and (min-width: 1760px) {
  
}

html {
  scroll-behavior: smooth;
}

.font-russo-one{
  font-family: 'Russo One';
}

.home{
    background: url('../../../public/images/earth-bg.jpg');
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: rgba(7,5,19,.8);
    background-position: 50%!important;
    background-repeat: no-repeat!important;
    background-size: cover;
    overflow-y: hidden;
}

.canvasjs-chart-credit{
  display: none !important;
}

.custom-1ntm62p {
  display: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#login_container {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
    background-image: url(login_bg.jpg)!important;
    background-position: 50%!important;
    background-repeat: no-repeat!important;
    background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.sr-only {
  clip: rect(0,0,0,0);
  border-width: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.text-primary-purple-100 {
  --tw-text-opacity: 1;
  color: rgb(199 35 212/var(--tw-text-opacity));
}

.mt-6 {
  margin-top: 1.5rem;
}

.btn-primary-purple {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  -webkit-appearance: none;
  appearance: none;
  background-color: rgb(152 27 162/var(--tw-bg-opacity));
  border-radius: 0.5rem;
  color: rgb(255 255 255/var(--tw-text-opacity));
  font-weight: 600;
  padding: 0.5rem 1rem;
  transition-duration: .3s;
  transition-property: color,background-color,border-color,fill,stroke,-webkit-text-decoration-color;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
  transition-property: color,background-color,border-color,text-decoration-color,fill,stroke,-webkit-text-decoration-color;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
}

.shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
.rounded-md {
  border-radius: 0.375rem;
}

[type='password'], [type='text'], [type='phone'] {
  appearance: none;
  background-color: #fff;
  border-color: #6B7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
  --tw-shadow: 0 0 #0000;
}

.input-primary {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  // background-color: rgb(28 30 47/var(--tw-bg-opacity));
  border-color: rgb(35 38 59/var(--tw-border-opacity));
  border-radius: 0.375rem;
  border-width: 1px;
  // color: rgb(209 213 219/var(--tw-text-opacity));
  display: block;
  font-size: .875rem;
  line-height: 1.25rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0.75rem;
  position: relative;
  width: 100%;
}

.bg-opacity-60 {
  --tw-bg-opacity: 0.6;
}

.bg-primary-dark-800 {
  background-color: rgb(13 14 22/var(--tw-bg-opacity));
}

.rounded-xl {
  border-radius: 0.75rem;
}

#chart1 {
  width: 70vw;
  height: 90vh;
}